@model InvoiceApp.Models.ViewModels.CallOffVM

<h3 class="text-center mb-4">Assign an item to @Model.CallOff.CallOffNumber: @Model.CallOff.Description CallOff</h3>

<div class="col-md-12">
    <div class="form-row my-5">
        <div class="col-md-9">
            <input value="1" placeholder="Items Count" id="itemsCount" class="form-control" />
        </div>
        <div class="col-md-3">
            <a href="#" id="assingItemsCount" class="btn btn-block btn-primary">Assign</a>
        </div>
    </div>
</div>

<form asp-controller="CallOff" asp-action="AssignItems" method="post">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <input type="hidden" id="callOffId" asp-for="CallOff.Id" />
                    <div class="form-group">
                        <label asp-for="CallOff.CallOffNumber"></label>
                        <input asp-for="CallOff.CallOffNumber" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="CallOff.Description"></label>
                        <input asp-for="CallOff.Description" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>

        @for (int i = 0; i < Model.CallOffItems.Count(); i++)
        {
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="@Model.CallOffItems[i].Quantity"></label>
                                <input asp-for="@Model.CallOffItems[i].Quantity" class="form-control" />
                                <span asp-validation-for="@Model.CallOffItems[i].Quantity" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="@Model.CallOffItems[i].ItemId"></label>
                                <select asp-for="@Model.CallOffItems[i].ItemId" asp-items="@Model.ItemsSelectList" class="js-example-basic-single form-control">
                                    <option disabled selected>--Select Item--</option>
                                </select>
                                <span asp-validation-for="@Model.CallOffItems[i].ItemId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-5">Assign Items</button>
</form>


@section Scripts{


    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();

            document.getElementById('assingItemsCount').addEventListener('click', function() {
                var itemsCount = document.getElementById("itemsCount").value;
                var callOffId = document.getElementById("callOffId").value;

                this.href = '/CallOff/AssignItems?callOffId='+ callOffId +'&itemsCount='+ itemsCount;
            });

        });
    </script>
}